.date {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

.time {
  text-align: center;
  color: #fff;
  font-size: 5rem;
}

.date,
.time {
  transition: all 0.5s;
}

.date.day,
.time.day {
  color: #333;
  transition: all 0.5s;
}
