.clock-analog {
  margin-top: 3rem;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-analog::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #333;
}

.clock-analog > * {
  transform-origin: bottom;
}

.hours {
  background-color: #333;
  width: 10px;
  height: 60px;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 5px);
  border-radius: 30%;
}

.minutes {
  background-color: #333;
  width: 6px;
  height: 80px;
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 3px);
  border-radius: 25%;
}

.seconds {
  background-color: #333;
  width: 4px;
  height: 100px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 2px);
  border-radius: 30%;
}

.clock-analog.day {
  background-color: #333;
}

.hours.day,
.minutes.day,
.seconds.day,
.clock-analog.day::after {
  background-color: #fff;
}

.mark {
  background-color: #333;
  width: 5px;
  height: 20px;
  border-radius: 0 0 20% 20%;
  transition: 0.5s;
}

.mark.h-12 {
  position: absolute;
  top: 0;
  left: 50%;
}

.mark.h-3 {
  position: absolute;
  top: 50%;
  left: calc(100% - 10px);
  transform: translate(-50%, -50%) rotate(90deg);
}

.mark.h-6 {
  position: absolute;
  bottom: 0;
  left: 50%;
  rotate: 180deg;
}

.mark.h-9 {
  position: absolute;
  top: 50%;
  left: calc(0% + 10px);
  transform: translate(-50%, -50%) rotate(-90deg);
}

.mark.day {
  background-color: #fff;
}
