.pomodoro {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.slider {
  background-color: #fff;
  padding: 5px;
  border-radius: 20px;
  width: 72px;
}

.dot {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  transition: all 0.5s;
}

.label {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.on {
  background-color: tomato;
}

.on .dot {
  background-color: #fff;
  transform: translateX(37px);
}

.work {
  color: tomato;
}

.chill {
  color: seagreen;
}
