@import "./layout/layout.css";
@import "./components/clock-digital.css";
@import "./components/clock-analog.css";
@import "./components/other-cities.css";
@import "./components/pomodoro.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
